* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #0f1518;
    --background-light: #3a86ff;
    --gcolorleft: #ff006e;
    --gcolorright: #8338ec;
    --headerfont: 'Montserrat', 'sans-seriff';
    --font: 'Signika Negative', 'sans-seriff';
    --font-color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    font-family: var(--font);
    color: var(--font-color)
}   

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerfont);
}

/* Hidden */

.hidden {
    display: none;
}

/* Header */

header {
    display: flex;
    position: fixed;
    width: 80%;
    top: 0;
    justify-content: center;
    align-items: center;
}

header > * {
    padding: 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    flex-flow: column nowrap;
    padding: 2rem;
    background: linear-gradient(135deg, var(--gcolorright), var(--gcolorleft)) padding-box,
                linear-gradient(135deg, var(--gcolorleft), var(--gcolorright)) border-box;
    border-radius: 2rem;
    border: 4px solid transparent;
    gap: 3rem;
}

.button {
    cursor: pointer;
    border: 3px solid black;

}


.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 0;
}

.answers > * {
    margin: 1rem;
}