* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000000;
    --background-light: #3a86ff;
    --gcolorleft: #ff006e;
    --gcolorright: #8338ec;
    --gbright: #C33764;
    --gbleft: #1D2671;
    --headerfont: 'Montserrat', 'sans-seriff';
    --font: 'Signika Negative', 'sans-seriff';
    --font-color: #fff;
    --font-colordark: #111
}

/* Body */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, var(--gbleft), var(--gbright));
    font-family: var(--font);
    color: var(--font-color);
    font-size: 18px;
}   

/* Headers */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerfont);
}

/* Hidden Class*/
/* Used by JS to hide an element */

.hidden {
    display: none;
}

/* Header */

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header > * {
    padding: 1em;
    flex: 1;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* Card */
/* Used on all elements, altered by JS to be displayed on generated elements*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    flex-flow: column nowrap;
    padding: 2rem;
    background: 
        linear-gradient(135deg, var(--background), var(--background)) padding-box,
        linear-gradient(135deg, var(--gcolorleft), var(--gcolorright)) border-box;
    filter: drop-shadow(0px 0px 10px #000);
    border-radius: 2rem;
    border: 4px solid transparent;
    gap: 3rem;

}

/* Button Class */

.button {
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 2rem;
    padding: 1ch 3ch;
    background: 
        linear-gradient(135deg, var(--gcolorleft), var(--gcolorright)) border-box;
    transition: all 200ms ease;
}

.button:hover,
.button:focus {
    background: 
        linear-gradient(135deg, black, black) padding-box,
        linear-gradient(135deg, var(--gcolorleft), var(--gcolorright)) border-box;
    transform: scale(1.03);
}   

/* Question Title */

.question {
    margin-top: 2rem;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 40rem;
    min-height: 0;
    text-align: center;
    gap: 1rem 2rem;
}

.answers > * {
    flex: 1;
    padding: 1ch 3ch;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 2rem;
}

.response {
    margin: 2ch;
    border: 2px solid transparent;
    height: 1rem;
    width: 100%;
    text-align: center;
}
